@model IEnumerable< Rooms.Models.HDModel>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Health Details</title>
</head>
<body>
    <hr />
    <center><h2 style="font-weight:bold;font-size:x-large"><u>Health Details</u></h2></center>
    <table cellpadding ="0" cellspacing="0" width="100%" style="border: 1px;" rules="none">
        <tr style="outline: thin solid">
            <td style="width:350px;font-weight:bold">Health Question</td>
            <td style="width:60px;font-weight:bold">Answer</td>
            <td style="width:200px;font-weight:bold">Description</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="outline: thin solid">
                <td>
                    @Html.DisplayFor(modelItem => item.HLQuestion)
                </td>
                <td>
                    : @Html.DisplayFor(modelItem => item.HLFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HLDesc)
                </td>
            </tr>
        }
        <tr></tr>
    </table>
</body>
</html>

