
@{
    ViewBag.Title = "LeaveMangement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/CustomJS/jquery.min.js"></script>
</head>
<body>
    <p>well come</p>
</body>
</html>

