@charset "utf-8";
/* CSS Document */
/*Resetting CSS*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol ul {
	list-style: none;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
:focus {
	outline: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: solid 1px #d7d7d7;
}
td {
	padding-left: 10px;
	line-height: 1;
}
input, select {
	vertical-align: middle;
}
.clear {
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
/**main style starts here**/
body {
    background: url('img/bg.jpg') repeat 0 0;    
    font-family: Arial, Helvetica, sans-serif;
}
.main_wrap {
	width: 100%;
}
.wrap_in {
	min-width: 960px;
	max-width: 1366px;
	margin: auto;
}
header {
	position: relative;
}
/**Top header**/
.top_header {
	background: #333;
	overflow: hidden;
}
.top_header .logo {
	float: left;
	padding: 3px 0;
}
.top_header .login {
	float: right;
	font-size: 12px;
}
.top_header .login img {
	float: left;
	padding-top: 8px;
}
.top_header .login p {
	font-size: 12px;
	color: #dad7d7;
	float: left;
	padding: 10px 6px 0 6px;
}
/**END Top header**/
/**Bottom header starts here***/
.bottom_header {
	width: 100%;
	background: #16a085;
	border-bottom: 10px solid #ffffff;
}
.bottom_header nav {
	width: 970px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
.bottom_header nav ul {
}
.bottom_header nav ul li {
	float: left;
	position: relative;
}
.bottom_header nav ul li figure {
	padding: 3px 0 5px 0;
}
.bottom_header nav ul li a {
	font-weight: normal;
	font-size: 12px;
	line-height: 10px;
	color: #ffffff;
	display: block;
	padding: 5px 27px;
	text-align: center;
}
.bottom_header nav ul li a:hover {
	background: #148e76;
	color: #ffffff;
}
.bottom_header nav ul li ul.sub_menu {
	background: #333333;
	min-width: 150px;
	height: 0px;
	padding: 5px;
	position: absolute;
	top: 55px;
	left: 0;
	display: none;
}
.bottom_header nav ul li:hover ul.sub_menu {
	display: block;
	height: auto;
}
.bottom_header nav ul li ul.sub_menu li {
	width: 100%;
	position: relative;
}
.bottom_header nav ul li ul.sub_menu li a {
	padding: 10px 5px;
	color: #ffffff;
	text-align: left;
	display: block;
}
.bot_header nav ul li ul.sub_menu li:hover {
	background: #1fa35c;
	color: #ffffff!important;
}
.bottom_header nav ul li ul.sub_menu li .sub_menu_sub {
	background: #333;
	width: 150px;
	height: auto;
	display: none;
	position: absolute;
	top: -5px;
	left: 150px;
}
.bottom_header nav ul li ul.sub_menu li:hover .sub_menu_sub {
	width: 150px;
	display: block;
	padding: 5px;
}
/**END Bottom header**/
/*Columns starts here*/
.columns {
	width: 100%;
	margin: auto;
	background: #83aebc;
}
.lt_column {
	width: 20%;
	float: left;
	overflow: hidden;
}
.lt_column h1 {
	color: #ffffff;
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	padding: 10px 20px 30px 0px;
}
.lt_tab1 {
	width: 316px;
	height: 379px;
	background: url('img/tabs.png') left top no-repeat;
	cursor: pointer;
}
.middle_column {
	width: 60%;
	float: left;
	overflow: hidden;
}
.middle_column_quts {
	text-align: center;
}
.login_bg {
	width: 100%;
	text-align: center;
}
.rt_column {
	width: 20%;
	float: left;
}
.rt_column .events {
	border: 1px solid #CCC;
	width: 230px;
	height: 208px;
	margin: 20px 0 0 10px;
}
.rt_column .events h1 {
	font-size: 26px;
	color: #fff;
	text-align: center;
}
/**Login page**/
#login {
	background: #f9f9f9;
	border: 1px solid #c4c6ca;
	margin: 0px auto;
	padding: 5px 0 0;
	position: relative;
	text-align: center;
	width: 230px;
	margin: 20px 0 0 10px;
	float: left;
}
#login h1 {
	font-size: 22px;
	color: #7E7E7E;
	margin: 5px 0 20px;
}
#login h1:before, #login h1:after {
	login: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 33%;
}
#login form {
	margin: 0 10px;
	position: relative
}
#login form input[type="text"], #login form input[type="password"] {
	width: 90%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 5px 10px 5px 5px;
}
#login form input[type="text"]:focus, #login form input[type="password"]:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	background-color: #fff;
}
#username {
	background-position: 10px 10px !important
}
#password {
	background-position: 10px -53px !important
}
#login form input[type="submit"] {
	width: 100px;
	height: 30px;
	-webkit-border-radius: 17px/18px 18px 17px 17px;
	-moz-border-radius: 17px/18px 18px 17px 17px;
	border-radius: 17px/18px 18px 17px 17px;
	background-color: #cccccc;
	border: solid 1px #acacac;
	background-image: -webkit-linear-gradient(bottom, #c3c5c5, #fff);
	background-image: -moz-linear-gradient(bottom, #c3c5c5, #fff);
	background-image: -o-linear-gradient(bottom, #c3c5c5, #fff);
	background-image: -ms-linear-gradient(bottom, #c3c5c5, #fff);
	background-image: linear-gradient(to top, #c3c5c5, #fff);
	color: #666;
	cursor: pointer;
	font: bold 15px Helvetica, Arial, sans-serif;
	margin: 5px 0 10px 5px;
	position: relative;
}
#login form input[type="submit"]:hover {
	width: 100px;
	height: 30px;
	-webkit-border-radius: 17px/18px 18px 17px 17px;
	-moz-border-radius: 17px/18px 18px 17px 17px;
	border-radius: 17px/18px 18px 17px 17px;
	background-color: #cccccc;
	border: solid 1px #acacac;
	background-image: -webkit-linear-gradient(top, #e3e6e6, #fff);
	background-image: -moz-linear-gradient(top, #e3e6e6, #fff);
	background-image: -o-linear-gradient(top, #e3e6e6, #fff);
	background-image: -ms-linear-gradient(top, #e3e6e6, #fff);
	background-image: linear-gradient(to bottom, #e3e6e6, #fff);
}
#login form div a {
	color: #004a80;
	float: right;
	font-size: 12px;
	margin: 30px 5px 0 0;
	text-decoration: underline;
}
.button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: linear-gradient(top, rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 25px 0 0;
}
.button a {
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}
/**END button**/
/**End all columns**/
/**Footer starts here**/
footer {
	width: 100%;
	background: #4e8194;
	padding: 20px 0;
	font-size: 12px;
	color: #f8f8f8;
}
footer .wrap_in {
	margin: 0 auto;
	text-align: center;
}


