
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    html {
        background-color: white !important;
    }
    /*table,tr,td{
        border:1px solid;
    }*/
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/form_pw.css" rel="stylesheet" />
<link href="~/Content/style_pw.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/JSFiles/Conformationnew.js"></script>
@*<script src="~/scripts/jsfiles/datesconformation.js"></script>*@
<style>
    .addmore {
        display: none;
    }

    .Single {
        background-color: #00ff1f !important;
    }

    .Double {
        background-color: darkgreen;
    }

    .Maintenance {
        background-color: yellow !important;
    }

    .Vacant {
        background-color: #0099cc !important;
    }

    .Roomcleaning {
        background-color: red;
    }

    .room_colors {
        float: right;
        width: 170px;
        height: 190px;
        /* border: 3px solid #CCC;*/
    }

        .room_colors div {
            width: 18px;
            height: 18px;
            text-align: center;
            border: 1px solid #CCC;
        }

        .room_colors td {
            width: 155px;
            height: 27px;
        }
        /*color 1 means vaccant*/
        .room_colors .color1 {
            background: #0099CC;
        }
        /*color2 occupied */
        .room_colors .color2 {
            background: #00ff1f;
        }

        .room_colors .color5 {
            background: #FFD700;
        }

        .room_colors .colors1 {
            background: darkgreen;
        }

        .room_colors .color6 {
            background: red;
        }
</style>
<script>
    $(document).ready(function () {
        RoomStatusDetails();
        Getvacantcount();
        Getsinglecount();
        Getdoublecount();
        Getmaintenancecount();
        Getroomcleaningcount();
        $("td").click(function () {     //function_td
            if (this.id != "") {
                $('#roomno').val(this.id);
            }
        });
        $("#guesttype").change(function () {
            if ($('#guesttype :selected').val() == 'double') {
                $(".addmore").css("display", "block");
                $('#Save').prop('type', 'button');
            } else {
                $(".addmore").css("display", "none");
                $('#Save').prop('type', 'submit');
            }

        });
    });
        function RoomStatusDetails() {
            debugger;
            $.ajax({
                type: "POST",
                url: "/Checkin/RoomStatusDetails",
                success: function (result) {
                    debugger;
                    var locdata = new Array();
                    for (var i = 0; i < result.length; i++) {
                        Room_No: result[i].Room_No;

                        if (result[i].Status == "Occupied") {
                            if (result[i].Count == '1') {
                                debugger;
                                $('#' + result[i].Room_No).addClass('Single');
                                $('#' + result[i].Room_No).css("cursor", "auto");
                                $('#' + result[i].Room_No).prop('onclick', null).off('click');
                            }
                            if (result[i].Count == '2') {
                                $('#' + result[i].Room_No).addClass('Double');
                                $('#' + result[i].Room_No).css("cursor", "auto");
                                $('#' + result[i].Room_No).prop('onclick', null).off('click');
                            }
                        }
                        else if(result[i].Status=="Vacant")
                        {
                            $('#' + result[i].Room_No).addClass('Vacant');
                        }
                        else if (result[i].Status == "Maintenance") {
                            $('#' + result[i].Room_No).addClass('Maintenance');
                           // $('#' + result[i].Room_No).css("cursor", "auto");
                            //$('#' + result[i].Room_No).prop('onclick', null).off('click');
                        }
                        else if (result[i].Status == "Room Cleaning") {
                            $('#' + result[i].Room_No).addClass('Roomcleaning');
                        }
                    }
                }
            });
        }
        function Getvacantcount() {
            debugger;
            $.ajax({
                type: "POST",
                //data: { Dept: id },
                url: "/Checkin/getvacantcount",
                success: function (data) {
                    //debugger;
                    if (data != "0") {
                        $("#vacantcount").text(data);
                    }
                    else {
                        $("#vacantcount").text("0");
                    }
                },
                error: function () {

                }
            });
        }
        function Getroomcleaningcount() {
            debugger;
            $.ajax({
                type: "POST",
                //data: { Dept: id },
                url: "/HouseKeeping/Getroomcleaningcount",
                success: function (data) {
                    //debugger;
                    if (data != "0") {
                        $("#roomcleaningcount").text(data);
                    }
                    else {
                        $("#roomcleaningcount").text("0");
                    }
                },
                error: function () {

                }
            });
        }
        function Getsinglecount() {
            debugger;
            $.ajax({
                type: "POST",
                //data: { Dept: id },
                url: "/Checkin/getsinglecount",
                success: function (data) {
                    //debugger;
                    if (data != "0") {
                        $("#singlecount").text(data);
                    }
                    else {
                        $("#singlecount").text("0");
                    }
                },
                error: function () {

                }
            });
        }
        function Getdoublecount() {
            debugger;
            $.ajax({
                type: "POST",
                //data: { Dept: id },
                url: "/Checkin/getdoublecount",
                success: function (data) {
                    //debugger;
                    if (data != "0") {
                        $("#doublecount").text(data);
                    }
                    else {
                        $("#doublecount").text("0");
                    }
                },
                error: function () {

                }
            });
        }
        function Getmaintenancecount() {
            debugger;
            $.ajax({
                type: "POST",
                //data: { Dept: id },
                url: "/Checkin/getmaintenancecount",
                success: function (data) {
                    //debugger;
                    if (data != "0") {
                        $("#maintenancecount").text(data);
                    }
                    else {
                        $("#maintenancecount").text("0");
                    }
                },
                error: function () {

                }
            });
        }
        function dateconversion(date, ctrlid) {
            debugger;
            alert(moment(date).format("DD/MM/YYYY"));
            if (date != null) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(date);
                var IST = new Date(parseFloat(results[1])); // Clone UTC Timestamp
                IST.setHours(IST.getHours() + 5); // set Hours to 5 hours later
                IST.setMinutes(IST.getMinutes() + 30); // set Minutes to be 30 minutes later
                //alert(IST);
                //debugger;
                document.getElementById(ctrlid).value = new Date(IST);

            }
        }
</script>
<fieldset>
    <center style="font-size:30px;color:red;margin-top:5px;">Room Dashboard</center><br />

    <table id="calendar-control" style="width:100%;">
        <tr>
            <td style="width:100%;">
                <table style="width:94%;text-align:center;height:200px;border:1px solid;">
                    <tr style="border:1px solid;">
                        <td style="width:10%;background-color:#FD6F6F;border:1px solid white;">L1</td>
                        <td colspan="2" style="background-color:#4b72b8;border-bottom:1px solid #4b72b8!important;border-top:1px solid #4b72b8!important"></td>
                        <td colspan="2" style="border:1px solid;border-left:1px solid blue;cursor:pointer;" id="113">113</td>
                        <td style="border:1px solid;cursor:pointer;" id="112">112</td>
                        <td style="border:1px solid;cursor:pointer;" id="111">111</td>
                        <td colspan="2" style="border:1px solid;cursor:pointer;" id="110">110</td>
                        <td style="border:1px solid;cursor:pointer;" id="109">109</td>
                        <td style="width:10%;background-color: #C8C8FF;">LOBBY</td>
                        <td style="border:1px solid;cursor:pointer;" id="108">108</td>
                        <td style="border:1px solid;cursor:pointer;" id="107">107</td>
                        <td style="border:1px solid;cursor:pointer;" id="106">106</td>
                        <td style="border:1px solid;cursor:pointer;" id="105">105</td>
                        <td style="border:1px solid;cursor:pointer;" id="104">104</td>
                        <td style="border:1px solid;cursor:pointer;" id="103">103</td>
                        <td style="border:1px solid;cursor:pointer;" id="102">102</td>
                        <td style="border:1px solid;cursor:pointer;" id="101">101</td>
                        <td colspan="2" style="background-color:#4b72b8;border-bottom:1px solid #4b72b8!important;border-top:1px solid #4b72b8!important;border-right:1px solid blue!important"></td>
                    </tr>
                    <tr style="border:1px solid;">
                        <td style="width:10%;background-color:#FD6F6F;border:1px solid white;">L2</td>
                        <td colspan="2" style="background-color:#4b72b8;"></td>
                        <td style="border:1px solid;cursor:pointer;" id="215">215</td>
                        <td style="border:1px solid;cursor:pointer;" id="214">214</td>
                        <td style="border:1px solid;cursor:pointer;" id="213">213</td>
                        <td style="border:1px solid;cursor:pointer;" id="212">212</td>
                        <td style="border:1px solid;cursor:pointer;" id="211">211</td>
                        <td style="border:1px solid;cursor:pointer;" id="210">210</td>
                        <td style="border:1px solid;cursor:pointer;" id="209">209</td>
                        <td style="width:10%;background-color: #C8C8FF;">LOBBY</td>
                        <td style="border:1px solid;cursor:pointer;" id="208">208</td>
                        <td style="border:1px solid;cursor:pointer;" id="207">207</td>
                        <td style="border:1px solid;cursor:pointer;" id="206">206</td>
                        <td style="border:1px solid;cursor:pointer;" id="205">205</td>
                        <td style="border:1px solid;cursor:pointer;" id="204">204</td>
                        <td style="border:1px solid;cursor:pointer;" id="203">203</td>
                        <td style="border:1px solid;cursor:pointer;" id="202">202</td>
                        <td style="border:1px solid;cursor:pointer;" id="201">201</td>
                        <td colspan="2" style="background-color:#4b72b8;"></td>
                    </tr>
                    <tr style="border:1px solid;">
                        <td style="width:10%;background-color:#FD6F6F;border:1px solid white;">L3</td>
                        <td style="border:1px solid;cursor:pointer;" id="319">319</td>
                        <td style="border:1px solid;cursor:pointer;" id="318">318</td>
                        <td style="border:1px solid;cursor:pointer;" id="317">317</td>
                        <td style="border:1px solid;cursor:pointer;" id="316">316</td>
                        <td style="border:1px solid;cursor:pointer;" id="315">315</td>
                        <td style="border:1px solid;cursor:pointer;" id="314">314</td>
                        <td style="border:1px solid;cursor:pointer;" id="313">313</td>
                        <td style="border:1px solid;cursor:pointer;" id="312">312</td>
                        <td style="border:1px solid;cursor:pointer;" id="311">311</td>
                        <td style="width:10%;background-color: #C8C8FF;">LOBBY</td>
                        <td style="border:1px solid;cursor:pointer;" id="310">310</td>
                        <td style="border:1px solid;cursor:pointer;" id="309">309</td>
                        <td style="border:1px solid;cursor:pointer;" id="308">308</td>
                        <td style="border:1px solid;cursor:pointer;" id="307">307</td>
                        <td style="border:1px solid;cursor:pointer;" id="306">306</td>
                        <td style="border:1px solid;cursor:pointer;" id="305">305</td>
                        <td style="border:1px solid;cursor:pointer;" id="304">304</td>
                        <td style="border:1px solid;cursor:pointer;" id="303">303</td>
                        <td style="border:1px solid;cursor:pointer;" id="302">302</td>
                        <td style="border:1px solid;cursor:pointer;" id="301">301</td>
                    </tr>
                    <tr style="border:1px solid;">
                        <td style="width:10%;background-color:#FD6F6F;border:1px solid white;">L4</td>
                        <td style="border:1px solid;cursor:pointer;" id="419">419</td>
                        <td style="border:1px solid;cursor:pointer;" id="418">418</td>
                        <td style="border:1px solid;cursor:pointer;" id="417">417</td>
                        <td style="border:1px solid;cursor:pointer;" id="416">416</td>
                        <td style="border:1px solid;cursor:pointer;" id="415">415</td>
                        <td style="border:1px solid;cursor:pointer;" id="414">414</td>
                        <td style="border:1px solid;cursor:pointer;" id="413">413</td>
                        <td style="border:1px solid;cursor:pointer;" id="412">412</td>
                        <td style="border:1px solid;cursor:pointer;" id="411">411</td>
                        <td style="width:10%;background-color: #C8C8FF;">LOBBY</td>
                        <td style="border:1px solid;cursor:pointer;" id="410">410</td>
                        <td style="border:1px solid;cursor:pointer;" id="409">409</td>
                        <td style="border:1px solid;cursor:pointer;" id="408">408</td>
                        <td style="border:1px solid;cursor:pointer;" id="407">407</td>
                        <td style="border:1px solid;cursor:pointer;" id="406">406</td>
                        <td style="border:1px solid;cursor:pointer;" id="405">405</td>
                        <td style="border:1px solid;cursor:pointer;" id="404">404</td>
                        <td style="border:1px solid;cursor:pointer;" id="403">403</td>
                        <td style="border:1px solid;cursor:pointer;" id="402">402</td>
                        <td style="border:1px solid;cursor:pointer;" id="401">401</td>
                    </tr>

                </table>
            </td>
            <td>

                <table class="room_colors">
                    <tr>
                        <td><div class="color1"></div></td>
                        <td>Vacant</td>
                        <td id="vacantcount"></td>
                    </tr>
                    <tr>
                        <td><div class="color2"></div></td>
                        <td>Single</td>
                        <td id="singlecount"></td>
                    </tr>
                    <tr>
                        <td><div class="colors1"></div></td>
                        <td>Double</td>
                        <td id="doublecount"></td>
                    </tr>
                    <tr>
                        <td><div class="color5"></div></td>
                        <td>Maintenance</td>
                        <td id="maintenancecount"></td>
                    </tr>
                    <tr>
                        <td><div class="color6"></div></td>
                        <td style="width:66%!important;">Room Cleaning</td>
                        <td id="roomcleaningcount"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</fieldset>
<div class="form_pema">
    <h2 style="font-size:30px;">Room Status</h2>
    <div class="form_content">
        <!--Form Global starts here-->
        <div id="form_global">
            <form method="post" action="/HouseKeeping/Index">
                <fieldset>

                    <table>
                        <tr>
                            <td style="width:10%"></td>
                            <td style="width:10%;">
                                <label>Room No</label>
                            </td>
                            <td>
                                <input style="text-align:center;" tabindex="2" type="text" id="roomno" name="roomno" class="requiredselect" readonly="readonly" />

                            </td>
                            <td style="width:10%;">
                                <label>Status</label>
                            </td>
                            <td>
                                <select style="width: 194px;" id="Status" required class="attendance" name="Status">
                                    <option value="Maintenance">Maintenance</option>
                                    <option value="Vacant">Vacant</option>
                                    <option value="Room Cleaning">Room Cleaning</option>
                                </select>

                            </td>

                        </tr>

                        <tr><td colspan="6" align="center"><span><input type="submit" tabindex="10" id="Save" value="Save" class="submit" /> </span></td></tr>
                    </table>
                </fieldset>
            </form>
        </div>

    </div>
</div>